* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.encabezado {
    margin: 0;
    background: linear-gradient(150deg, #ff4463,#ffc0cb,#89fdfd ,#00ffff);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
.encabezado img {
    width: 40%;
}
.encabezado h1 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.5rem;
    color: darkviolet;
}
.barra ul{
    list-style: none;
    margin: 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.barra ul a{
    text-decoration: none;
    padding: 5px;
    color: blue;
    background-color: #ffbcbc;
    border: 1px solid blue;
    border-radius: 12px;
}

.hero img {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.contenedor{
    background-color: #1e3a8a;
    margin: 0 auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.hero, #sobre-nosotros, #contacto{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  padding: 20px;
}

#contacto form{
    background-color: blue;
    border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h2{
    font-size: 1.75rem;
}

p{
    font-size: 1.20rem;
}

.pie{
    margin: 0;
    background: linear-gradient(150deg, #ff4463,#ffc0cb,#89fdfd ,#00ffff);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 1;
}